/**
 * reset style
 */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
em,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  color: $text-primary;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  vertical-align: baseline;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
}
em,
i {
  font-style: normal;
}
textarea {
  width: 100%;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
  padding: $spacing;
  border: 1px solid $grey100;
}
textarea {
  min-height: 100px;
  resize: none;
  outline: none;
}
